body{
    text-align: center; 
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
}

#increment-button{
    background-color: rgb(213, 47, 47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
}

#increment-button:hover{
    background-color: rgb(180, 38, 38);
}

#save-button{
    background-color: rgb(166, 213, 47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
}